# Core functionality - changes here should be rare!
/src/app.py                   @oruize01
/src/backend/database.py      @oruize01
/src/backend/routers/auth.py  @oruize01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oruize01
